[Unit]
Description=Wanna-build trigger for %i
ConditionPathExists=!/srv/wanna-build/NO-TRIGGERS
ConditionFileIsExecutable=/srv/wanna-build/triggers/trigger.%i
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/srv/wanna-build/triggers/trigger.%i
WorkingDirectory=/srv/wanna-build
User=wbadm
Group=wbadm
